button.btn {
    word-wrap: break-word;
    hyphens: manual;
    font-size: 100%;
    font-style: inherit;
    box-sizing: border-box;
    text-align: center;
    box-shadow: none;
    font-weight: bold;
    transition: all .3s;
    text-decoration: none;
    border: solid 3px var(--color-bold);
    border-radius: 4px 4px 4px 4px;
    padding: 0.5rem 0.5rem;
    line-height: 1.7;

    background-color: transparent;
    color: var(--color-bold);
}

button.btn:disabled {
    border: solid 1px var(--color-bold-light);
    color: var(--color-bold-light);
}

button.btn:hover:not(:disabled), button.btn:focus:not(:disabled) {
    background-color: var(--color-bold);
    border: solid 3px black;
    color: var(--color-white);
}
