.checkbox {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    padding: 0.2em 0.6em;
}

.checkbox:hover {
    border-color: var(--color-bold);
}

.checkbox.toggle {
    align-items: center;
    padding: 0.2em 1em;
}

.checkbox.tree {
    padding: 0.2em 0;
}

.checkbox.custom {
}

.checkbox.toggle > svg {
    transform: scale(2.0);
    margin-right: 1rem;
    flex-grow: 0;
}

.checkbox > .i {
    transform: scale(1.5);
    margin-right: 0.5rem;
    flex-grow: 0;
}

.checkbox.custom > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
