.checkbox {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.checkbox.toggle {
    align-items: center;
}

.checkbox.toggle > svg{
    /* background-color: #A0A0A0;
    border: 2px solid black;
    border-radius: 1px; */
    transform: scale(2.0);
    margin-right: 1rem;
    flex-grow: 0;
}

.checkbox > .i {
    transform: scale(1.5);
    margin-right: 0.5rem;
    flex-grow: 0;
}

.checkbox.custom > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

