.checkbox {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.checkbox > .i {
    transform: scale(1.5);
    margin-right: 0.5rem;
    flex-grow: 0;
}

.checkbox.tree > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

