.loader-wrapper {
    width: 50%;
    margin: auto;
}

.loader-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 145px;
    z-index: 1;
}

.loader-text > * {
    text-align: center;
}

.loader {
    position: relative;
    top: 50px;
    left: 6px;
    z-index: 1;
    border: 16px solid var(--color-form-background);
    border-top: 16px solid var(--color-bold);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
