table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td {
    border: 1px solid rgb(193, 192, 192);
    padding: 8px;
    text-align: left;
}

.numCol {
    text-align: center;
}

select {
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    font: inherit;
    text-transform: none;
    margin: 0;
    vertical-align: baseline;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    color: var(--ast-form-input-text,#475569);
    height: 40px;
    padding: 6px 10px;
}

@media print {
  tr {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

@page {
  size: portrait;
}