.input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
}

.control-label {
    color: #5d5d5d;
    font-size: 12px;
}

.form-control {
    line-height: 1.8em;
    padding-left: 10px;
    width: 100%;
    font-size: medium;
    border: 1px solid var(--color-form-background);
    background-color: var(--color-form-background);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
}

select.form-control {
    /* height: 2.2em; */
}

.form-control[disabled] {
    border: 1px solid #fafafa;
    background-color: #fafafa;
}

.form-control.red {
    border: 3px solid red;
    background-color: #fafafa;
}

.form-control:focus {
    border: 1px solid #2c7ac9;
}

form h3 {
    margin: 0.25rem 0rem 1rem 0rem;
}

.mini-spinner {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}