/** variables */
:root {
    --default-dist: 1rem;
    --vertical-margin: var(--default-dist);
    --color-bold: #536942;
    --color-bold-light: #93a982;
    --color-white: #fff;
    --color-form-background: #f2f2f2;
    --color-background: #f6f8f5;
}
