@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/forms";

$space-1: 15px;
$space-2: 35px;

$color-white: white;
$color-light-green: #536941CC;
$color-full-green: #536942;

section.solawim {
  color: $color-light-green;
}

.solawim select {
  background-color: $color-white;
  color: $color-light-green;
  padding: 3pt;
  margin-left: 1pt;
  margin-right: 1pt;
  border-radius: 4px;
  border: solid 1px $color-light-green;
}

a, .solawim a {
  color: $color-full-green !important;
}

.solawim h3 {
  margin: 4pt;
}

.form-control {
  border: solid 1px $color-light-green;
  color: $color-full-green;
}

.solawim div.row {
  margin-top: $space-1;
  margin-bottom: $space-1;
}

.solawim div.container {
  padding-top: $space-1;
  padding-bottom: $space-1;
}

.solawim .alert {
  background-color: $color-light-green;
  border-color: $color-light-green;
  color: $color-white;
}

.solawim ::selection {
  background-color: $color-light-green !important;
}

.solawim input[type="checkbox"] {
  background-color: $color-light-green !important;
}

.solawim form {
  select:disabled, input:disabled, button:disabled {
  color: #DDD;
  }
}

.btn, .solawim button {
  transition: all .3s;
  text-decoration: none;
  color: $color-light-green;
  background-color: transparent;
  border: solid 1px $color-light-green;
  border-radius: 4px 4px 4px 4px;
  // font-size: 14px;
  font-family: 'DM Sans',sans-serif;
  padding: $space-1 $space-2 $space-1 $space-2 ;
  // padding: $base-space;
  &:hover {
    color: $color-white !important;
    background-color: $color-full-green;
    border-color: $color-full-green;
  }
}

.b-form-spinbutton button {
  width: 2em;
}